#contenedor {clear: both; width: 700px; margin: 0 auto; background-color: aqua; 
            min-width: 300px; max-width: 1000px;}
    
#cabecera {float: left; width: 700px; height: 200; background-color: green;}

#menu {float: left; width: 150px; background-color: violet;}

#contenido {float: left; width: 550px; background-color: cornflowerblue;}

#pie {clear: both; background-color: yellowgreen;}

