* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 8px 5px 0px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: blueviolet;
  }
  
  /* Style the top navigation bar */
  .navbar {
    position: sticky;
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: blueviolet;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #1abc9c;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 45%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  .fakeimg {
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 40px;
    background: linear-gradient(
      45deg,
      rgba(15, 97, 110, 1) 12%,
      rgba(7, 179, 116, 1) 84%
    );
    background-blend-mode: normal;
    transform: translate(0px, 0px);
    box-shadow: 8px 5px 0px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
  
  

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }